body {
  background: cornflowerblue;
}

/*#board {
  width: 37.5rem;
  height: 25rem;
  background: black;
}

.paddle {
  width: 0.7rem;
  height: 6rem;
  background: white;
}

#p1 {
  position: absolute;
  top: 10rem;
  left: 2rem;
}

#p2 {
  position: absolute;
  right: 54rem;
  top: 15rem;
}
*/
