body {
  background-image: url('sky.jpg');
  background-size: 100%;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 4.5rem;
  text-align: center;
}

#game {
  margin: 0 auto;
  /*padding-top: 2rem;*/
  display: block;
  border: 0.4rem solid white;
}
